header {
	
	text-align: center;
	font-size: x-large;
	background-image: linear-gradient(darkblue, lightblue);
	margin-bottom: 50px;
	height: 200px;
	padding-top: 70px;
	border: solid;
	
}

#left{
	border: groove;
	width: fit-content;
    box-shadow: 3px 3px black;
    height: fit-content;
}
.info{
	border: groove;
	height: fit-content;
}
#update{
	border: groove;
	width: fit-content;
	height: fit-content;
}
#createpage{
	border: groove;
	width: fit-content;
	height: fit-content;
}

form{
	max-width: 500px;
	margin: 10px;
}

input[type=text]:focus {
  background-color: lightblue;
  width: 100px;
}

input[type=text]{
	width: 100px;
}
input[type=number]:focus {
  background-color: lightblue;
  width: 50px;
}

input[type=number]{
	width: 50px;
}
textarea:focus{
	background-color: lightblue;
}

