header {
	
	text-align: center;
	font-size: x-large;
	background-image: linear-gradient(darkblue, lightblue);
	height: 200px;
	padding-top: 70px;
	border: solid;
	margin-bottom: 100px;
	z-index: 0;
		
}

#left{
	border: groove;
	width: fit-content;
    box-shadow: 3px 3px black;
    height: fit-content;
    background-color: rgba(209, 209, 224, .7)
}
.info{
	border: groove;
	height: fit-content;
	background-color: rgba(209, 209, 224, .7)
}
.message{
	color: red;
	text-align: center;
	font-size: xx-large;
	font-weight: bolder;
}
#update{
	border: groove;
	width: fit-content;
	height: fit-content;
	background-color: rgba(209, 209, 224, .7)
}
#createpage{
	border: groove;
	width: fit-content;
	height: fit-content;
	background-color: rgba(209, 209, 224, .7)
}

form{
	max-width: 500px;
	margin: 10px;
	float: left
}

button {
	float: left;
	margin: 10px;
}


input[type=text]:focus {
  background-color: lightblue;
  width: 100px;
}

input[type=text]{
	width: 100px;
}
input[type=number]:focus {
  background-color: lightblue;
  width: 50px;
}

input[type=number]{
	width: 50px;
}
textarea:focus{
	background-color: lightblue;
}

.dropdown ul li{
	z-index: 4;
}

.navbar {
	z-index: 2;
}

.col-sm-4 a{     
   display: block;     
   position: relative;    
   z-index: 1;     
   padding: 3em;     
 /*   margin: -2em; */ 
   background-color: rgba(209, 209, 224, .7);
   border-style: solid;
   border: solid;
   border-bottom-style: thick;
   text-align: center;
   text-decoration: none;
   font-family: serif;
   font-size: large;
   font-weight: bolder;
   color: black;
   vertical-align: middle;
   
   
   
}
.col-sm-4 a:hover{
	color:blue;
	background-color: #c0c0c0;
}

body{
  background-image: url('../pics/gym.jpeg');
  background-color: #cccccc; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  margin-bottom: 500px;
  background-attachment: fixed;
}
/* #planPage{
  background-image: url('../pics/superJackedSteve.png');
  background-color: #cccccc; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  margin-bottom: 500px;
  background-attachment: fixed;
}
#ExerPage{
  background-image: url('../pics/StevesFace.png');
  background-color: #cccccc; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  margin-bottom: 500px;
  background-attachment: fixed;
 
}
#dayPage{
  background-image: url('../pics/jackedSteve.png');
  background-color: #cccccc; 
  background-position: relative; 
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 500px;
  background-attachment: fixed;
  z-index: 0;
} */



/* nav {
    position: sticky;
    margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
  	opacity: .9;
    top: 0;
    z-index: 1;
	margin-bottom: 50px;
	
}  */

/* ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
    top: 0;
  	float: left;
}

li {
    border-right: thin;
    border-right-style: solid;
    border-color: lightgrey;
}
 */


/* li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



/* li a:hover {
  background-color: #111;
  text-decoration: none;
}
 */
/* .active {
  background-color: #4CAF50;
  
} */

